@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Dark" Elevation="1">
        Joel Santos Porfolio
        <MudSpacer />
        <MudIconButton Style="" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
    </MudAppBar>
    <MudDrawer Style="background-color: #eaeded" @bind-Open="@isDrawerOpen">
        <MudDrawerHeader Class="bg-dark align-content-center">
            <MudText Class="text-white align-self-center">Navigate To</MudText>
        </MudDrawerHeader>
        <MudDrawerContainer>
            <NavMenu />
        </MudDrawerContainer>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@* <div class="page">
     <div class="sidebar">
        <NavMenu />
    </div> 

    <main>
        <div class="top-row px-4 bg-dark">
            <a class="text-white" href="#" target="_self">Home</a>
            <a class="text-white" href="project" target="_self">Projects</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@

@code {
    bool isDrawerOpen = false;

    void DrawerToggle()
    {
        isDrawerOpen = !isDrawerOpen;
    }
}
