button:hover {
    opacity: 0.50;
}

.display-value {
    background-color: lightgray;
    font-size: 1.5rem;
    font-weight: bold;
}

.display-value-sm {
    background-color: lightgray;
}

.calculator-container {
    width: 300px;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 10px 10px;
}

.calculator-display {
    margin-left: 5px;
    margin-right: 5px;
}

    .calculator-display input {
        width: 100%;
        text-align: right;
        padding: 10px;
        font-size: 1.5rem;
        color: white;
        background-color: #212121;
    }

.calculator-display-sm {
    margin-left: 5px;
    margin-right: 5px;
    font-size: .50rem;
}

    .calculator-display-sm input {
        width: 100%;
        text-align: right;
        padding: 10px;
        font-size: 1rem;
        color: lightgray;
        background-color: #212121;
    }

.button-panel {
    display: flex;
}

    .button-panel button {
        flex: 1;
        padding: 20px;
        font-size: 1.5rem;
        margin: 5px;
        background-color: lightgray;
    }

        .button-panel button:hover {
            opacity: 0.50;
        }

.operator-panel {
    display: flex;
}

    .operator-panel button {
        flex: 1;
        padding: 20px;
        font-size: 1.5rem;
        margin: 5px;
        background-color: orange;
    }

.clear-button {
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    grid-column: 1 / 3;
}

.grid-contanier {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(80px, 80px);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.num-btn {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: lightgray;
}

.fun-btn {
    font-weight: bold;
    background-color: orange;
    font-size: 1.5rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
