.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.content-container {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    min-width: 50%;
    max-width: 90%;
    margin: 10px auto;
    box-shadow: 10px 10px;
    border: 2px solid lightgray;
}
