<div class="main-container">
    <h3 class="text-center text-dark">Tax Calculator</h3>
    <div class="content-contanier mx-auto my-3 p-1">
        <div class="input-container p-3 bg-white">
            <EditForm class="center-content" Model="@newTax" OnValidSubmit="CalculateTax">
                <MudGrid>
                    <MudItem xs="12">
                        <MudNumericField Variant="Variant.Outlined" T="decimal" HideSpinButtons="true" Culture="System.Globalization.CultureInfo.CurrentCulture"
                                         Immediate="false" Label="Input Amount" Format="N2" @bind-Value="newTax.InputAmount" Class="my-lg-5 num-text-align" />

                    </MudItem>

                    <MudDivider />

                    <MudItem xs="6" Class="d-flex-inline">
                        <MudNumericField Variant="Variant.Outlined" T="decimal" HideSpinButtons="true" Culture="System.Globalization.CultureInfo.CurrentCulture"
                                         Immediate="false" Label="Tax #1" Format="N2" @bind-Value="newTax.TaxOneAmount" Class="my-md-5 num-text-align" />

                        <MudNumericField Variant="Variant.Outlined" T="decimal" HideSpinButtons="true" Culture="System.Globalization.CultureInfo.CurrentCulture"
                                         Immediate="false" Label="Tax #2" Format="N2" @bind-Value="newTax.TaxTwoAmount" Class="my-md-5 num-text-align" />
                    </MudItem>

                    <MudItem xs="6">
                        <MudNumericField Variant="Variant.Outlined" T="decimal" HideSpinButtons="true" Culture="System.Globalization.CultureInfo.CurrentCulture"
                                         Immediate="false" Label="Tax #3" Format="N2" @bind-Value="newTax.TaxThreeAmount" Class="my-md-5 num-text-align" />

                        <MudNumericField Variant="Variant.Outlined" T="decimal" HideSpinButtons="true" Culture="System.Globalization.CultureInfo.CurrentCulture"
                                         Immediate="false" Label="Tax #4" Format="N2" @bind-Value="newTax.TaxFourAmount" Class="my-md-5 num-text-align" />
                    </MudItem>
                </MudGrid>
            </EditForm>

            <MudGrid class="center-content">
                <MudItem xs="6">
                    <MudButton Class="w-50" Variant="Variant.Outlined" OnClick="CalculateTax" Color="Color.Primary">Calculate</MudButton>
                </MudItem>
                <MudItem xs="6">
                    <MudButton Class="w-50" Variant="Variant.Outlined" OnClick="ClearValues" Color="Color.Error">Clear</MudButton>
                </MudItem>
            </MudGrid>
        </div>

        <hr />

        <div class="p-3">
            <MudGrid>
                <MudItem xs="3">
                    <MudText Class="text-white">Tax #1</MudText>
                    <MudPaper Elevation="1" Class="text-end border-solid fw-bold p-2">$@taxOneAmount</MudPaper>
                </MudItem>

                <MudItem xs="3">
                    <MudText Class="text-white">Tax #2</MudText>
                    <MudPaper Class="text-end border-solid fw-bold p-2">$@taxTwoAmount</MudPaper>
                </MudItem>

                <MudItem xs="3">
                    <MudText Class="text-white">Tax #3</MudText>
                    <MudPaper Class="text-end border-solid fw-bold p-2">$@taxThreeAmount</MudPaper>
                </MudItem>

                <MudItem xs="3">
                    <MudText Class="text-white">Tax #4</MudText>
                    <MudPaper Class="text-end border-solid fw-bold p-2">$@taxFourAmount</MudPaper>
                </MudItem>

                <MudFlexBreak />

                <MudItem Class="my-1" xs="12">
                    <MudText Class="text-white">Total Tax Amount</MudText>
                    <MudPaper Class="text-end border-solid fw-bold p-2">$@totalTax</MudPaper>
                </MudItem>

                <hr />

                <MudItem xs="12">
                    <MudText Class="text-white">Total</MudText>
                    <MudPaper Style="background-color: darkgreen" Class="border-solid p-3">
                        <MudText Class="text-end border-solid fw-bold text-white">$@totalAmount</MudText>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </div>
    </div>
</div>

@code {
    TaxCalculatorModel newTax = new();

    decimal totalAmount = 0;
    decimal taxOneAmount = 0m;
    decimal taxTwoAmount = 0m;
    decimal taxThreeAmount = 0m;
    decimal taxFourAmount = 0m;
    decimal totalTax = 0m;

    private async void CalculateTax()
    {
        if (newTax.InputAmount > 0)
        {
            if (newTax.TaxOneAmount > 0)
            {
                string taxOne = (newTax.InputAmount * (newTax.TaxOneAmount / 100)).ToString("N2");

                decimal taxValue = 0m;
                bool isValid = decimal.TryParse(taxOne, out taxValue);

                if (isValid)
                    taxOneAmount = taxValue;
            }

            if (newTax.TaxTwoAmount > 0)
            {
                string taxTwo = (newTax.InputAmount * (newTax.TaxTwoAmount / 100)).ToString("N2");

                decimal taxValue = 0m;
                bool isValid = decimal.TryParse(taxTwo, out taxValue);

                if (isValid)
                    taxTwoAmount = taxValue;
            }

            if (newTax.TaxThreeAmount > 0)
            {
                string taxThree = (newTax.InputAmount * (newTax.TaxThreeAmount / 100)).ToString("N2");

                decimal taxValue = 0m;
                bool isValid = decimal.TryParse(taxThree, out taxValue);

                if (isValid)
                    taxThreeAmount = taxValue;
            }

            if (newTax.TaxFourAmount > 0)
            {
                string taxFour = (newTax.InputAmount * (newTax.TaxFourAmount / 100)).ToString("N2");

                decimal taxValue = 0m;
                bool isValid = decimal.TryParse(taxFour, out taxValue);

                if (isValid)
                    taxFourAmount = taxValue;
            }
            totalTax = taxOneAmount + taxTwoAmount + taxThreeAmount + taxFourAmount;
            totalAmount = newTax.InputAmount + totalTax;
        }
    }

    private void ClearValues()
    {
        newTax = new();
        totalAmount = 0;
        taxOneAmount = 0m;
        taxTwoAmount = 0m;
        taxThreeAmount = 0m;
        taxFourAmount = 0m;
        totalTax = 0m;
    }
}