@page "/tax"

<style>
    body {
        display: flex;
        justify-content: center;
        margin: auto;
        background-image: radial-gradient(#ccc, #87c1fa);
    }

    .num-text-align input {
        text-align: right;
    }

    .main-container {
        display: flex;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center; 
    }

    .content-contanier {
        box-shadow: 10px 10px;
        width: 100%;
        background-color: #212121;
        border: 1px solid gray;
    }

    .input-container {
        height: auto;
        margin: 0 auto;
    }

    .center-content {
        width: 100%;
        margin: 0 auto;
    }
</style>

<PageTitle>JTech Porfolio | Tax Calculator</PageTitle>

<div class="main-container">
    <div class="content-contanier mx-auto my-3 p-1">
        <div class="input-container p-3 bg-white">
            <EditForm class="center-content" Model="@newTax" OnValidSubmit="CalculateTax">
                <MudGrid>
                    <MudItem xs="12">
                        <MudNumericField Variant="Variant.Outlined" T="decimal" HideSpinButtons="true" Culture="System.Globalization.CultureInfo.CurrentCulture"
                                         Immediate="false" Label="Input Amount" Format="N2" @bind-Value="newTax.InputAmount" Class="my-lg-5 num-text-align" />

                    </MudItem>

                    <MudDivider />

                    <MudItem xs="6" Class="d-flex-inline">
                        <MudNumericField Variant="Variant.Outlined" T="decimal" HideSpinButtons="true" Culture="System.Globalization.CultureInfo.CurrentCulture"
                                         Immediate="false" Label="Tax #1" Format="N2" @bind-Value="newTax.TaxOneAmount" Class="my-md-5 num-text-align" />

                        <MudNumericField Variant="Variant.Outlined" T="decimal" HideSpinButtons="true" Culture="System.Globalization.CultureInfo.CurrentCulture"
                                         Immediate="false" Label="Tax #2" Format="N2" @bind-Value="newTax.TaxTwoAmount" Class="my-md-5 num-text-align" />
                    </MudItem>

                    <MudItem xs="6">
                        <MudNumericField Variant="Variant.Outlined" T="decimal" HideSpinButtons="true" Culture="System.Globalization.CultureInfo.CurrentCulture"
                                         Immediate="false" Label="Tax #3" Format="N2" @bind-Value="newTax.TaxThreeAmount" Class="my-md-5 num-text-align" />

                        <MudNumericField Variant="Variant.Outlined" T="decimal" HideSpinButtons="true" Culture="System.Globalization.CultureInfo.CurrentCulture"
                                         Immediate="false" Label="Tax #4" Format="N2" @bind-Value="newTax.TaxFourAmount" Class="my-md-5 num-text-align" />
                    </MudItem>

                    @* <MudItem>
                    <MudButton Variant="Variant.Outlined" Color="Color.Primary">Calculate</MudButton>
                    </MudItem> *@
                </MudGrid>
                @* <InputNumber class="form-control mx-2" style="width: 50%;" @bind-Value="newTax.InputAmount" placeholder="Input Amount" />

                <InputNumber class="form-control col m-2" @bind-Value="newTax.TaxOneAmount" placeholder="Tax #1" />
                <InputNumber class="form-control col m-2" @bind-Value="newTax.TaxTwoAmount" placeholder="Tax #2" />
                <InputNumber class="form-control col m-2" @bind-Value="newTax.TaxThreeAmount" placeholder="Tax #3" />
                <InputNumber class="form-control col m-2" @bind-Value="newTax.TaxFourAmount" placeholder="Tax #4" />

                <div>
                <button class="col-1 my-2 btn btn-outline-primary w-25" type="submit">Calculate</button>
                </div> *@
            </EditForm>

            <MudGrid class="center-content">
                <MudItem xs="6">
                    <MudButton Class="w-50" Variant="Variant.Outlined" OnClick="CalculateTax" Color="Color.Primary">Calculate</MudButton>
                </MudItem>
                <MudItem xs="6">
                    <MudButton Class="w-50" Variant="Variant.Outlined" OnClick="ClearValues" Color="Color.Error">Clear</MudButton>
                </MudItem>
            </MudGrid>
        </div>

        <hr />

        @if (totalAmount > 0)
        {
            <div class="p-3">
                <MudGrid>
                    <MudItem xs="3">
                        <MudText Class="text-white">Tax #1</MudText>
                        <MudPaper Elevation="1" Class="text-end border-solid fw-bold p-2">$@taxOneAmount</MudPaper>
                    </MudItem>

                    <MudItem xs="3">
                        <MudText Class="text-white">Tax #2</MudText>
                        <MudPaper Class="text-end border-solid fw-bold p-2">$@taxTwoAmount</MudPaper>
                    </MudItem>

                    @* <MudFlexBreak /> *@

                    <MudItem xs="3">
                        <MudText Class="text-white">Tax #3</MudText>
                        <MudPaper Class="text-end border-solid fw-bold p-2">$@taxThreeAmount</MudPaper>
                    </MudItem>

                    <MudItem xs="3">
                        <MudText Class="text-white">Tax #4</MudText>
                        <MudPaper Class="text-end border-solid fw-bold p-2">$@taxFourAmount</MudPaper>
                    </MudItem>

                    <MudFlexBreak />

                    <MudItem Class="my-1" xs="12">
                        <MudText Class="text-white">Total Tax Amount</MudText>
                        <MudPaper Class="text-end border-solid fw-bold p-2">$@totalTax</MudPaper>
                    </MudItem>

                    <hr />

                    <MudItem xs="12">
                        <MudText Class="text-white">Total</MudText>
                        <MudPaper Style="background-color: darkgreen" Class="border-solid p-3">
                            <MudText Class="text-end border-solid fw-bold text-white">$@totalAmount</MudText>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </div>
        }
    </div>
</div>

@code {
    TaxCalculatorModel newTax = new();

    decimal totalAmount = 0;
    decimal taxOneAmount = 0m;
    decimal taxTwoAmount = 0m;
    decimal taxThreeAmount = 0m;
    decimal taxFourAmount = 0m;
    decimal totalTax = 0m;

    private async void CalculateTax()
    {
        if (newTax.InputAmount > 0)
        {
            if (newTax.TaxOneAmount > 0)
            {
                string taxOne = (newTax.InputAmount * (newTax.TaxOneAmount / 100)).ToString("N2");

                decimal taxValue = 0m;
                bool isValid = decimal.TryParse(taxOne, out taxValue);

                if (isValid)
                    taxOneAmount = taxValue;
            }

            if (newTax.TaxTwoAmount > 0)
            {
                string taxTwo = (newTax.InputAmount * (newTax.TaxTwoAmount / 100)).ToString("N2");

                decimal taxValue = 0m;
                bool isValid = decimal.TryParse(taxTwo, out taxValue);

                if (isValid)
                    taxTwoAmount = taxValue;
            }

            if (newTax.TaxThreeAmount > 0)
            {
                string taxThree = (newTax.InputAmount * (newTax.TaxThreeAmount / 100)).ToString("N2");

                decimal taxValue = 0m;
                bool isValid = decimal.TryParse(taxThree, out taxValue);

                if (isValid)
                    taxThreeAmount = taxValue;
            }

            if (newTax.TaxFourAmount > 0)
            {
                string taxFour = (newTax.InputAmount * (newTax.TaxFourAmount / 100)).ToString("N2");

                decimal taxValue = 0m;
                bool isValid = decimal.TryParse(taxFour, out taxValue);

                if (isValid)
                    taxFourAmount = taxValue;
            }
            totalTax = taxOneAmount + taxTwoAmount + taxThreeAmount + taxFourAmount;
            totalAmount = newTax.InputAmount + totalTax;
        }
    }

    private void ClearValues()
    {
        newTax = new();
        totalAmount = 0;
        taxOneAmount = 0m;
        taxTwoAmount = 0m;
        taxThreeAmount = 0m;
        taxFourAmount = 0m;
        totalTax = 0m;
    }
}