.num-text-align input {
    text-align: right;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-contanier {
    box-shadow: 10px 10px;
    width: 50%;
    background-color: #212121;
    border: 2px solid lightgray;
}

.input-container {
    height: auto;
    margin: 0 auto;
}

.center-content {
    width: 100%;
    margin: 0 auto;
}
