@page "/"

<style>
    body {
        background-color: #252525;
    }
    h1, h3, li {
        color: whitesmoke;
    }
    ol {
        list-style-type: none;
    }

    .header-container {
        width: 100%;
        height: 400px;
        background-image: url("/images/code.jpg");
        background-blend-mode: multiply;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.9);
        padding-bottom: 30px;
        padding-top: 100px;
    }

    .title-name {
        text-align: center;
        margin: 0;
        font-size: 3em;
        font-weight: normal;
        color: white;
    }

    .title-subtitle {
        text-align: center;
        margin: 0;
        font-size: 1.5em;
        font-weight: normal;
        color: gray;
    }

    .title-name-large {
        font-size: 6em;
    }

    .title-container {
        margin-top: auto;
    }

</style>

<PageTitle>Joel's Porfolio | Home</PageTitle>

<header class="header-container">
    <div class="title-container h-100">
        <h2 class="title-name title-name-large">Joel Santos Reyes</h2>
        <h5 class="title-name">Portfolio</h5>
        <p class="title-subtitle">I love coding and being creative</p>
    </div>
</header>

<div class="my-5 h-100 d-flex align-items-center justify-content-center">

    <div class="card h-50" style="width: 18rem;">
        <div class="card-header">
            <img class="card-img-top rounded-3" src="/images/joel glaciares 2024.jpg" alt="No Image"/>

        </div>

        <div class="card-body">

            <h5 class="card-title">
                Joel Santos Reyes
            </h5>

            <p class="card-text">
                Soy una persona apasionada con la programación y estoy siempre listo y dispuesto a aprender cosas nuevas todo el tiempo.
            </p>
        </div>

        <div class="card-footer">
            <h5 class="text-dark">Skills</h5>
            <ul list-group list-group-flush>
                <li class="list-group-item"><p class="fa fa-code"></p> C#</li>
                <li class="list-group-item"><p class="fa fa-html5 "></p> HTML</li>
                <li class="list-group-item"><p class="fa-brands fa-css3-alt"></p> CSS</li>
                <li class="list-group-item"><p class="fa-brands fa-js"></p> Java Script</li>
                <li class="list-group-item"><p>@@ Blazor</p></li>
                <li class="list-group-item"><p class="fa-solid fa-network-wired"></p> Networking</li>
            </ul>
        </div>

    </div>
</div>
