@page "/"

<PageTitle>Home</PageTitle>

<h1>Joel's Porfolio</h1>

<div class="card">
    <div class="card-header">
        <img class="card-img img-thumbnail" src="~/icon-192.png"/>
    </div>
    <div class="card-body">
        <p>Hi, my name is Joel Santos Reyes and my passion is to code</p>
    </div>
</div>
