@page "/"

<style>
    body {
        background-image: url("/images/js01.jpg");
        background-blend-mode: multiply;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.9);
    }
</style>

<PageTitle>Joel's Portfolio | Home</PageTitle>

<header class="header-container">
    <h2 class="title-name title-name-large">Joel Santos</h2>
    <p class="title-subtitle">
        I love coding and being creative.
    </p>
</header>

<div class="body-container">
    <div class="container my-3">
        <div class="card-footer">
            <div>
                <h5 class="text-light">Specialty</h5>
                <p class="body-text">
                    My strenghts are building mobile apps and desktop apps using .NET, C#,  I've build web apps with Blazor,
                    HTML5 CSS3 Javascript, React JS and React Native.  I work with databases such as SQLite, MySQL and MS SQL Server.
                </p>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <div class="card-footer">
            <h5 class="text-light">Skills</h5>

            <ul class="list-group list-group-flush d-inline-block">
                <li class="list-group-item bg-transparent body-text d-inline-block">* C#</li>
                <li class="list-group-item bg-transparent body-text d-inline-block">* .NET</li>
                <li class="list-group-item bg-transparent body-text d-inline-block">* Blazor</li>
                <li class="list-group-item bg-transparent body-text d-inline-block">* HTML5</li>
                <li class="list-group-item bg-transparent body-text d-inline-block">* CSS3</li>
                <li class="list-group-item bg-transparent body-text d-inline-block">* JavaScript</li>
            </ul>
        </div>
    </div>

    <div class="container my-3">
        <div class="card-footer">
            <h5 class="text-light">Frameworks</h5>
            <p class="body-text">This website was build using Blazor .NET 8</p>
        </div>
    </div>

    <div class="container my-3">
        <div class="card-footer">
            <h5 class="text-light">Contact</h5>

            <ul class="list-group list-group-flush d-inline-block">
                <li class="list-group-item bg-transparent body-text d-inline-block">
                    <i class="fa-solid fa-user text-secondary"></i>
                    <span class="mx-2">Joel Santos Reyes</span>

                </li>
                <li class="list-group-item bg-transparent d-inline-block">
                    <i class="fa-solid fa-envelope text-secondary"></i>
                    <a href="mailto:jsr.tech.dev@gmail.com" class="mx-2 body-text text-anim">jsr.tech.dev@gmail.com</a>
                </li>

                <li class="list-group-item bg-transparent body-text d-inline-block">
                    <i class="fa-solid fa-phone text-secondary"></i>
                    <span class="mx-2">787.392.4401</span>
                </li>

                <li class="list-group-item bg-transparent d-inline-block">
                    <i class="fa-brands fa-github text-secondary"></i>
                    <a href="https://github.com/JTech-Dev" target="_blank">
                        <span class="mx-2 body-text text-anim">Github</span>
                    </a>
                </li>

                <li class="list-group-item bg-transparent d-inline-block">
                    <i class="fa-brands fa-linkedin text-secondary"></i>
                    <a href="https://linkedin.com/in/joel-santos-0834552b3" target="_blank">
                        <span class="mx-2 body-text text-anim">
                            LinkedIn
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
