@page "/playground"

<style>
    body {
        background-color: whitesmoke;
    }
</style>

<PageTitle>Joel's Portfolio | Playground</PageTitle>

<div class="container">

    <hr />

    <div class="d-flex flex-column justify-content-center">
        <TaskList />
    </div>

    <hr />

    <div class="d-flex flex-column justify-content-center">
        <Calculator />
    </div>

    <hr />

    <div class="d-flex flex-column justify-content-center">
        <TaxCalculator />
    </div>

</div>

@code {

}
