@page "/project"

<PageTitle>Joel's Portfolio | Projects</PageTitle>

<MudText Typo="Typo.h2" Class="text-lg-center">Projects</MudText>
<MudText Typo="Typo.body1" Class="text-center">
    Fully functionals apps.
</MudText>

<MudContainer Class="justify-center mud-width-full mt-2">

    @* BlazePOS *@
    <MudPaper Elevation="10" Class="rounded-lg my-2">
        <MudImage Fluid="true" Class="rounded-lg" src="/images/login.jpg" />
    </MudPaper>

    <MudPaper Elevation="10" Class="rounded my-2">

        <MudText Typo="Typo.h2" Class="text-center">BlazePOS</MudText>

        <MudDivider/>

        <MudText Class="text-center" Typo="Typo.h4">Android OS</MudText>

        <MudText Typo="Typo.body1" Class="text-center">
            A lightweight Point of Sale system capable of running small to medium size businesses
        </MudText>

        <MudDivider />

        <MudText Class="text-center" Typo="Typo.h4">Technologies</MudText>

        <MudText Typo="Typo.body1" Class="text-center">
            * C# * .NET * Xamarin Forms * SQLite
        </MudText>
        <div class="d-flex justify-center">
            <MudButton Target="_blank" Href="https://jtech-dev.github.io/jtechsystems/blazepos.html" Variant="Variant.Text" Color="Color.Secondary">Learn more</MudButton>
        </div>
    </MudPaper>

    @* Service Manager *@
    <MudPaper Elevation="10" Class="rounded-lg my-2">
        <MudImage Fluid="true" Class="rounded-lg" src="/images/sm01.png" />
    </MudPaper>

    <MudPaper Elevation="10" Class="rounded my-2">

        <MudText Typo="Typo.h2" Class="text-center">Service Manager</MudText>

        <MudDivider />

        <MudText Class="text-center" Typo="Typo.h4">Windows OS</MudText>

        <MudText Typo="Typo.body1" Class="text-center">
            This is Service Manager a software to keep track of services like closed, sold or pending.
        </MudText>

        <MudDivider />

        <MudText Class="text-center" Typo="Typo.h4">Technologies</MudText>

        <MudText Typo="Typo.body1" Class="text-center">
            * C# * .NET * .NET MAUI * SQLite
        </MudText>
        <div class="d-flex justify-center">
            <MudButton Target="_blank" Href="https://jtech-dev.github.io/jtechsystems/" Variant="Variant.Text" Color="Color.Secondary">Learn more</MudButton>
        </div>
    </MudPaper>
</MudContainer>

@code {

}
