@page "/project"

<style>
    body {
        background-image: url("/images/code.jpg");
        background-blend-mode: multiply;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.9);
    }
</style>

<PageTitle>Joel's Portfolio | Projects</PageTitle>

<header class="header-container">
    <div class="title-container">
        <h2 class="title-name title-name-large">Projects</h2>
        <p class="title-subtitle">
            Fully functionals apps.
        </p>
    </div>
</header>

<div class="main-container">

    <div class="text-container">
        <h2 class="text-title">BlazePOS</h2>
        <p class="img-logo fa fa-fire" ></p>
    </div>

    <div class="proj-content">

        <div class="img-container">
            <img class="proj-img" src="/images/login.jpg" />
        </div>

        <div class="body-text-container">

            <h4>Android OS</h4>

            <p class="body-text">
                A lightweight Point of Sale system capable of running small to medium size businesses
            </p>

            <h4>Technologies</h4>

            <p class="body-text">
                * C# * .NET * Xamarin Forms * SQLite
            </p>
        </div>
    </div>

    <div class="text-container">
        <h2 class="text-title">Service Manager App</h2>
        <p class="img-logo fa fa-file"></p>
    </div>

    <div class="proj-content">

        <div class="img-container">
            <img class="proj-img" src="/images/sm01.png" />
        </div>

        <div class="body-text-container">

            <h4>Windows OS</h4>

            <p class="body-text">
                This is Service Manager a software to keep track of the services made.
            </p>

            <h4>Technologies</h4>

            <p class="body-text">
                * C# * .NET * .NET MAUI * SQLite
            </p>
        </div>
    </div>
</div>

@code {

}
