.body-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;    
    vertical-align: bottom;
    padding-top: 8px;
}

.body-text {
    color: gray;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.default-card {
    background-color: whitesmoke;
    border: 1px solid #898989;
    box-shadow: 10px 10px;
    margin-top: 40px;
}

    .default-card:hover {
        cursor: pointer;
    }

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    font-size: 2rem;
    text-align: center;
    vertical-align: central;
    color: orangered;
    margin-left: 10px;
}

.proj-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 25%;
    padding: 8px;
}

.proj-img {
    width: 50%;
    height: 20%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffb5;
    height: 250px;
}

.text-container-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: central;
}

.text-title {
    color: #080808;
    font-size: 3rem;
}

.header-container {
    width: 100%;
    height: 400px;
    padding-bottom: 30px;
    padding-top: 100px;
    /*background-image: url("/images/code.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9);*/
}

.title-name {
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-weight: normal;
    color: white;
}

.title-subtitle {
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    color: gray;
}

.title-name-large {
    font-size: 6em;
}

.title-container {
    margin: auto;
}

@media only screen and (max-width: 800px) {
    .proj-content {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 25%;
    }

    .proj-img {
        width: 100%;
        height: 300px;
    }
}
