@page "/project"

<style>
    body {
        background-image: radial-gradient(#080808, #212121);
    }

    .default-card {
        background-color: whitesmoke;
        border: 1px solid #898989;
        box-shadow: 10px 10px;
        margin-top: 40px;
    }

    .default-card:hover {
        cursor: pointer;
    }
</style>

<PageTitle>Joel's Portfolio | Projects</PageTitle>

<div class="container justify-content-center">

    <div class="card default-card">
        <div class="card-header" style="background-color: transparent;">
            <img class="card-img-top" src="/images/login.jpg" />
        </div>
        <div class="card-title d-flex align-items-center p-2" style="background-color: lightgray">
            <h3>BlazePOS</h3>
        </div>
        <div class="card-body">
            <p>
                This is BlazePOS my most complete project is a fully functional Point of Sale System
                suitable from small to medium sized business.
            </p>
        </div>
    </div>

    <div class="card default-card">
        <div class="card-header" style="background-color: transparent;">
            <img class="card-img-top" src="/images/sm01.png" />
        </div>
        <div class="card-title d-flex align-items-center p-2" style="background-color: lightgray">
            <h3>Service Manager</h3>
        </div>
        <div class="card-body">
            <p>
                This is Service Manager a software to keep track of the services made.
            </p>
        </div>
    </div>
</div>

@code {

}
